process-apis/order-orchestration-papi/src/main/mule/customer-360-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <!-- ======================== Customer 360 Aggregation Flow ======================== -->
    <flow name="customer-360-aggregation-flow" doc:name="Customer 360 Aggregation">

        <logger level="INFO" doc:name="Log Customer 360 Start"
                message="Starting Customer 360 aggregation | CustomerId: #[vars.customerId] | CorrelationId: #[correlationId]" />

        <!-- Step 1: Check Cache -->
        <try doc:name="Check Customer 360 Cache">
            <os:retrieve key="#['customer360-' ++ vars.customerId]"
                         objectStore="customer-360-cache"
                         doc:name="Retrieve Cached Customer 360" />
            <logger level="INFO" doc:name="Log Cache Hit"
                    message="Customer 360 cache HIT for customerId: #[vars.customerId]" />
            <set-variable variableName="cacheHit" value="#[true]" doc:name="Set Cache Hit Flag" />
            <ee:transform doc:name="Wrap Cached Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
var cachedData = payload
---
{
    success: true,
    data: cachedData,
    meta: {
        source: "CACHE",
        cachedAt: cachedData.meta.aggregatedAt default "",
        customerId: vars.customerId
    },
    correlationId: correlationId,
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"}
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue type="OS:KEY_NOT_FOUND" doc:name="Cache Miss">
                    <logger level="INFO" doc:name="Log Cache Miss"
                            message="Customer 360 cache MISS for customerId: #[vars.customerId]" />
                    <set-variable variableName="cacheHit" value="#[false]" doc:name="Set Cache Miss Flag" />
                </on-error-continue>
            </error-handler>
        </try>

        <!-- Step 2: If not cached, aggregate from all sources -->
        <choice doc:name="Check Cache Hit">
            <when expression="#[vars.cacheHit != true]">

                <!-- Scatter-Gather: Parallel calls to all data sources -->
                <scatter-gather doc:name="Parallel Customer Data Aggregation">

                    <!-- Route 1: Get Customer from SAP -->
                    <route>
                        <logger level="DEBUG" doc:name="Log SAP Customer Fetch"
                                message="Fetching customer data from SAP | CustomerId: #[vars.customerId]" />
                        <try doc:name="SAP Customer Fetch">
                            <http:request config-ref="sap-sapi-requestConfig" method="GET"
                                           path="#['/api/customers/' ++ vars.customerId]"
                                           doc:name="Get Customer from SAP" />
                            <error-handler>
                                <on-error-continue type="HTTP:NOT_FOUND, HTTP:CONNECTIVITY" doc:name="SAP Error">
                                    <logger level="WARN" doc:name="Log SAP Unavailable"
                                            message="SAP customer data unavailable for: #[vars.customerId]" />
                                    <ee:transform doc:name="SAP Default Response">
                                        <ee:message>
                                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    source: "SAP",
    available: false,
    data: null,
    error: "SAP customer data unavailable"
}]]></ee:set-payload>
                                        </ee:message>
                                    </ee:transform>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </route>

                    <!-- Route 2: Get Account from Salesforce -->
                    <route>
                        <logger level="DEBUG" doc:name="Log Salesforce Account Fetch"
                                message="Fetching account data from Salesforce | CustomerId: #[vars.customerId]" />
                        <try doc:name="Salesforce Account Fetch">
                            <http:request config-ref="salesforce-sapi-requestConfig" method="GET"
                                           path="#['/api/accounts/' ++ vars.customerId]"
                                           doc:name="Get Account from Salesforce" />
                            <error-handler>
                                <on-error-continue type="HTTP:NOT_FOUND, HTTP:CONNECTIVITY" doc:name="Salesforce Error">
                                    <logger level="WARN" doc:name="Log Salesforce Unavailable"
                                            message="Salesforce account data unavailable for: #[vars.customerId]" />
                                    <ee:transform doc:name="Salesforce Default Response">
                                        <ee:message>
                                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    source: "SALESFORCE",
    available: false,
    data: null,
    error: "Salesforce account data unavailable"
}]]></ee:set-payload>
                                        </ee:message>
                                    </ee:transform>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </route>

                    <!-- Route 3: Get Order History -->
                    <route>
                        <logger level="DEBUG" doc:name="Log Order History Fetch"
                                message="Fetching order history | CustomerId: #[vars.customerId]" />
                        <try doc:name="Order History Fetch">
                            <http:request config-ref="sap-sapi-requestConfig" method="GET"
                                           path="#['/api/orders?customerId=' ++ vars.customerId ++ '&amp;limit=50']"
                                           doc:name="Get Order History" />
                            <error-handler>
                                <on-error-continue type="HTTP:NOT_FOUND, HTTP:CONNECTIVITY" doc:name="Order History Error">
                                    <logger level="WARN" doc:name="Log Order History Unavailable"
                                            message="Order history unavailable for: #[vars.customerId]" />
                                    <ee:transform doc:name="Order History Default">
                                        <ee:message>
                                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    source: "SAP_ORDERS",
    available: false,
    data: { orders: [] },
    error: "Order history unavailable"
}]]></ee:set-payload>
                                        </ee:message>
                                    </ee:transform>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </route>

                    <!-- Route 4: Get Payment History -->
                    <route>
                        <logger level="DEBUG" doc:name="Log Payment History Fetch"
                                message="Fetching payment history | CustomerId: #[vars.customerId]" />
                        <try doc:name="Payment History Fetch">
                            <http:request config-ref="payment-sapi-requestConfig" method="GET"
                                           path="#['/api/payments/customer/' ++ vars.customerId]"
                                           doc:name="Get Payment History" />
                            <error-handler>
                                <on-error-continue type="HTTP:NOT_FOUND, HTTP:CONNECTIVITY" doc:name="Payment History Error">
                                    <logger level="WARN" doc:name="Log Payment History Unavailable"
                                            message="Payment history unavailable for: #[vars.customerId]" />
                                    <ee:transform doc:name="Payment History Default">
                                        <ee:message>
                                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    source: "PAYMENTS",
    available: false,
    data: { payments: [] },
    error: "Payment history unavailable"
}]]></ee:set-payload>
                                        </ee:message>
                                    </ee:transform>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </route>
                </scatter-gather>

                <!-- Step 3: Merge all data into unified Customer 360 view -->
                <ee:transform doc:name="Aggregate Customer 360 View">
                    <ee:message>
                        <ee:set-payload resource="dwl/customer-360-aggregation.dwl" />
                    </ee:message>
                </ee:transform>

                <set-variable variableName="customer360Data" value="#[payload]" doc:name="Store Customer 360" />

                <!-- Step 4: Cache result in ObjectStore -->
                <try doc:name="Cache Customer 360">
                    <os:store key="#['customer360-' ++ vars.customerId]"
                              objectStore="customer-360-cache"
                              doc:name="Store Customer 360 in Cache">
                        <os:value><![CDATA[#[output application/json --- vars.customer360Data]]]></os:value>
                    </os:store>
                    <logger level="INFO" doc:name="Log Cache Stored"
                            message="Customer 360 cached for customerId: #[vars.customerId]" />
                    <error-handler>
                        <on-error-continue type="ANY" doc:name="Cache Store Error">
                            <logger level="WARN" doc:name="Log Cache Store Error"
                                    message="Failed to cache Customer 360 for: #[vars.customerId] | Error: #[error.description]" />
                        </on-error-continue>
                    </error-handler>
                </try>

                <!-- Build Response -->
                <ee:transform doc:name="Build Customer 360 Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    data: vars.customer360Data,
    meta: {
        source: "LIVE",
        aggregatedAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"},
        customerId: vars.customerId
    },
    correlationId: correlationId,
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
        </choice>

        <logger level="INFO" doc:name="Log Customer 360 Complete"
                message="Customer 360 aggregation complete | CustomerId: #[vars.customerId] | Source: #[if (vars.cacheHit == true) 'CACHE' else 'LIVE']" />

        <!-- Error Handler -->
        <error-handler>
            <on-error-propagate type="ANY" doc:name="Handle Customer 360 Error">
                <logger level="ERROR" doc:name="Log Customer 360 Error"
                        message="Customer 360 aggregation failed | CustomerId: #[vars.customerId] | Error: #[error.description]" />
                <ee:transform doc:name="Customer 360 Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    errorCode: "CUSTOMER_360_FAILED",
    message: "Unable to aggregate customer 360 data.",
    detail: error.description default "Unknown error",
    customerId: vars.customerId,
    correlationId: correlationId,
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>
